extends ../../layout/page

block append content 
    form(name="login" action="login" method="POST")
        input(type="text" name="username" value="")
        input(type="password" name="password" value="")
        input(type="submit" name="submit" value="login")
