template
    header.mdc-toolbar
        .mdc-toolbar__row
            section.mdc-toolbar__section.mdc-toolbar__section--align-start
                a.material-icons.mdc-toolbar__menu-icon.menu.la-menu(href='#' if.bind="hasMenu")
                a.mdc-toolbar__title(href="/#/") Sunshower
    .sunshower-content-holder
        h1 Approvals
        ul.mdc-list
            li.mdc-list-item(repeat.for="user of users")
                i.mdc-list-item__graphic.la-user(aria-hidden='true')
                | ${user.email}
                a.mdc-list-item__meta.la.la-check-circle(class.bind="user.active ? 'success' : ''" click.delegate="approve(user)")