template 
    tab-panel
        nav(slot="tabs").mdc-tab-bar.mdc-tab-bar-scroller__scroll-frame__tabs
            a.mdc-tab(href='#signups') Signups 
    div(slot="content")
        div(id="signups")
            router-view
