template
    h2(t="welcome.login.loginHeader")
    form(submit.delegate="login()" autocomplete="false")
        text-field(type="text" value.bind="user.username" icon="face", t="[label]welcome.login.username")
        text-field(type="password" value.bind="user.password" icon="lock", t="[label]welcome.login.password")
        div.sunshower-button-holder
            p(if.bind="message") ${message}
            button(type="submit" t="welcome.login.submit")
    p
        a(href="#signup" t="welcome.login.signupLink")
    //p
    //    a(t="welcome.login.docsLink")