template
    .sunshower-card-holder.mdc-card__horizontal-block
        card(repeat.for="plugin of plugins"
            title.bind="plugin.name"
            text.bind="plugin.description")
            //todo figure out linking