template
    .sunshower-content-holder
        h1 Approvals
        ul.mdc-list.mdc-list--two-line.mdc-list--avatar-list
            li.mdc-list-item(repeat.for="user of users")
                span.mdc-list-item__graphic
                    .mdc-form-field
                        checkbox(value-changed.delegate="approve(user)")

                span.mdc-list-item__text ${user.username}
                    span.mdc-list-item__secondary-text ${user.emailAddress}